.box-light{
    justify-content: center;
    align-items: center;
    border-width: 1px;
    background-color: black;
    width: 80px;
    height: 185px;
    margin: auto;
    margin-top: 5px;
    border-radius: 5%;
    padding-top: 1px;
}
.box-light div{
    border: 1px solid black;
    width: 50px;
    height: 55px;
    border-radius: 50%;
    margin: auto;
    margin-top: 4px;
}

.red-light{
    background-color: red;
}
.yellow-light{
    background-color: yellow;
}
.green-light{
    background-color: green;
}

.box-pole{
    margin:auto;
    background-color: black;
    width: 15px;
    height: 85px;
}
.light-on{
    box-shadow: rgba(220, 254, 1, 0.532) 0px 0px 50px 10px;
}